/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* simple */

a, i {
    color: gray;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
i:hover {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

#background {
    height: 100vh;
    width: 100%;
}

#site_header {
    height: calc( 100% - 5rem );
}

nav {
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    width: 14rem;
    color: white;
    overflow: hidden;
}

.logo {
    background-color: black;
    padding: 1rem;
}

.s_logo {
    display: none;
}

.logo img {
    height: 3rem;
    width: auto;
}

.blk_links {
    background-color: black;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.home, .search, .library {
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.home img,
.search img,
.library img {
    height: 2rem;
    width: auto;
}

.links:hover {
    border-left: 0.25rem solid #87c924;
    border-radius: 0.15rem;
}

.wrt_home, .wrt_search, .wrt_library {
    padding-left: 0.75rem;
    color: white;
    font-weight: bold;
}

.playlist h2 {
    text-transform: uppercase;
    font-size: large;
    padding-bottom: 0.5rem;
}

.playlist {
    background-color: black;
    min-height: 6rem;
    overflow: hidden;
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-top: 2rem;
}

.hub_playlist {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.hub_playlist a {
    font-size: medium;
}

.hub_playlist a i {
    background-color: gray;
    color: black;
    font-size: x-large;
    padding: 1rem;
}

.playlist_cart {
    height: 100%;
    overflow-y: auto;
    display: inline-block;
    list-style-type: none;
}

.playlist_cart a li {
    padding-top: 2rem;
}

.end_header {
    background-color: black;
    height: 4.5rem;
    padding-left: 1.35rem;
}

.install {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0.3rem;
}

.install a img {
    height: 1rem;
    width: auto;
}

.wrt_install {
    line-height: 1rem;
}

.wrt_install a {
    font-weight: bold;
    font-size: smaller;
    padding-left: 1rem;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0.5;
}

.user .name {
    padding-left: 0.5rem;
}

.user .name a {
    color: white;
}

.user_img {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: lightgray;
    border-radius: 50%;
}

.user_img a img {
    height: 1.5rem;
    width: auto;
    background-color: lightgray;
    border-radius: 0.5rem;
}